@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
  min-height:100%;
}

body{
    background-image: url(img/bg.jpg);
  width: 100%;
  min-height:100%;
  background-attachment: fixed;
  background-size: cover; 
  font-family: 'Indie Flower', cursive;
}

