@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
*{
    margin: 0;
    padding: 0;
}

body {

background-image: url(img/bg.jpg);
  width: 100%;
  min-height:100%;
  background-attachment: fixed;
  background-size: cover; 
        font-family: 'Indie Flower', cursive;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
    margin: 20px 0;
    text-decoration: underline;
}

.prodactBody{
    background-color: red;
    margin: 100px;
}

.productFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
