@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    margin: auto;
    margin-bottom: 10px;
    max-width: 500px;
    font-family: 'Lato', sans-serif;
    color: black;
    background-color: white;
    border-radius: 3px;
    font-family: 'Indie Flower', cursive;
    transition: all .4s ease-in-out;

}

.product:hover {
    transform: scale(1.05);
}
